@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --red-color: #FF204E;
    --magenta-color: #A0153E;
    --purple-color: #5D0E41;
    --navy-color: #00224D;
}

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Press Start 2P', system-ui;
    color: white;
    background-color: var(--magenta-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: center;
    margin: 50px
}

#scores {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

#scores p {
    color: var(--navy-color);
}

#game-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#board-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    width: max-content;
    margin: 20px auto;
    background-color: var(--navy-color);
    padding: 4px;
    border-radius: 20px;
}

.cell {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--magenta-color);
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.1s ease;
    font-size: 5rem;
    color: var(--red-color)
}

.cell:hover {
    outline: none;
    box-shadow: 0 0 5px 6px var(--red-color);
}

#actions-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#reset-btn,
#submit-player-form {
    color: var(--red-color);
    background-color: var(--navy-color);
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Press Start 2P';
    transition: all 0.2s ease;
    cursor: pointer;
}

#reset-btn:hover,
#submit-player-form:hover {
    outline: none;
    box-shadow: 0 0 5px 6px var(--purple-color);
}

#reset-btn {
    padding: 20px 50px;
    font-size: 1.5rem;
}

#submit-player-form {
    padding: 10px 25px;
    font-size: 1rem;
}

#footer {
    background-color: var(--brown-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#github-logo {
    height: 30px;
    padding-left: 10px;
}

dialog {
    width: 400px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--navy-color);
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#select-player-form label {
    color: white;
}

#select-player-form input {
    border: none;
    border-bottom: 2px solid var(--red-color);
    outline: none;
    background: transparent;
    padding: 5px 0;
    font-size: 15px;
    font-family: 'Press Start 2P';
    color: white;
    width: 200px;
}

.form-row {
    display: flex;
    margin: 20px;
    padding-bottom: 10px;
}